@import "../styles//utils/mixins";

.addpost {
  @include flex(column, center, center);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;

  .addpost__top {
    width: 100%;
    margin-bottom: 5px;
    @include flex(row, center, space-evenly);

    input {
      background: none;
      border: 1px solid lightgray;
      border-radius: 30px;
      padding: 15px;
      outline: none;
      width: 90%;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  .addpost__bottom {
    width: 100%;
    margin-top: 5px;
    padding: 0 15px;
    @include flex(row, center, space-between);

    .addpost__addOption {
      cursor: pointer;
      color: gray;
      @include flex(row, center, start);

      .addpost__icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      p {
        color: rgb(39, 39, 39);
        font-weight: 500;
      }
    }
  }
}
