@import "../styles/utils/mixins";

.header {
  background-color: white;
  position: sticky;
  top: 0;
  @include flex(row, center, space-evenly);
  border-bottom: 0.1px solid lightgray;
  z-index: 999;
  padding: 5px 0;

  .header__left {
    flex: 0.35;
    display: flex;

    img {
      object-fit: contain;
      height: 40px;
      margin-right: 10px;
    }

    .header__search {
      padding: 20px;
      @include flex(row, center, center);
      border-radius: 5px;
      height: 22px;
      color: gray;
      background-color: #eef3f8;

      input {
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  .header__right {
    flex: 0.35;
    position: relative;
    @include flex(row, center, flex-end);

    .header__profileOptions {
      position: absolute;
      top: 130%;
      right: 0;
      background-color: white;
      transform: scale(0);
      transform-origin: top right;
      transition: transform 0.05s ease;
      list-style-type: none;
      box-shadow: 0 0 10px rgba($color: #777777, $alpha: 0.5);
      border-radius: 8px;
      overflow: hidden;
      user-select: none;

      li {
        padding: 10px 15px;

        &:hover {
          cursor: pointer;
          background-color: #e0e0e0;
        }
      }
    }

    .header__showProfileOptions {
      transform: scale(1);
    }
  }
}
