@import '../styles/utils/mixins';

.news__circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
}

.news {
    padding: 5px 0px;
    display: flex;

    .news__circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: gray;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .news__details{
        @include flex(column, flex-start, space-between);

        h3 {
            font-size: 1rem;
            font-weight: 500;
        }

        p {
            font-size: small;
            font-weight: 500;
            color: gray;
        }
    }
}