@import '../styles/utils/mixins';

.widgetbar {
  flex: 0.2;
  @include flex(column, center, flex-start);

  .widgetbar__news, .widgetbar__courses {

    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;

    .widgetbar__top {
      width: 100%;
      margin-bottom: 10px;
      @include flex(row, center, space-between);
  
      p {
        font-size: .9rem;
        font-weight: 500;
      }
    }

    
  }
}